body { 
  background-color: aliceblue;
}

/* HEADER BOX */

.Header-Box {
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(49, 57, 179);
    margin: 0px 10vw;
    box-shadow: black 0px 0px 10px;
}

.Header-Content {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 0.5vw;
}

.Header-Content h1 {
    margin: 0px 0px 5px 0px;
    font-size: 3.5em;
    color: white;
}

.Header-Content a {
    text-decoration: none;
    color: white;
}

.Header-Content p {
    margin: 5px 0px 0px 0px;
    font-size: 1.2em;
}

/* HEADER BOX */

/* TWO COLUMNS */

.Two-Columns {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0.5em 10vw;
    
}
/* TWO COLUMNS */

/* NAVIGATION BOX */

.Navigation-Box {
    flex: 1;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    box-shadow: black 0px 0px 10px;
}

.Navigation-Content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 8em;
}

.Navigation-Content h3 {
    color: white;
    font-size: 2em;
    margin-top: 0em;
    line-height: 2em;
    background-color: rgb(49, 57, 179);
    border-radius: 10px;
}

.Navigation-Content a {
    font-size: 1.5em;
    text-decoration: none;
}

.Navigation-Content p:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    color: rgb(49, 57, 179);
}

/* NAVIGATION BOX */

/* MAIN CONTENT BOX */

.Main-Content {
    flex: 3;
    Border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    box-shadow: black 0px 0px 10px;
}

.Main-Content-Columns {
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.Main-Images {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1.5em 1em;

}

.Main-Images img {
    display: flex;
    width: 250px;
    aspect-ratio: 1/2.6;
    object-fit: cover;
    border-radius: 15px;
}

.Main-Text {
    margin: 0em 1em 0em 0em;
}

.Main-Text h3 {
    color: rgb(49, 57, 179);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
}

.Main-Text p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/* MAIN CONTENT BOX */

/* FOOTER BOX */

.Footer-Box {
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgb(49, 57, 179);
    margin: 0px 10vw;
    box-shadow: black 0px 0px 10px;
}

.Footer-Content {
    color: white;
    margin: 0em 0em 0em 1em;
}

/* FOOTER BOX */